.nav
{
    position:fixed;
    top:0;
    width:100%;
    height:30px;
    z-index:1;
    justify-content: space-between;
    display: flex;
    
}
.nav_logo
{
    left:0;
    height:100px;
    margin: 20px;
    padding-top:1px;

    width:150px;
    object-fit:contain;
}
.nav_avatar
{
    height:100px;
    margin:20px
} 
