.row-image
{
    object-fit: contain;
    width:100%;
    margin: 10px;
    max-height: 150px;
    transition: 450ms;
}
.row-image:hover
{
transform: scale(1.24);

}
.row_posters::-webkit-scrollbar
{
    display:none;
}
.row_posters
{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;;

}
.row-largeImage
{
    max-height: 260px;;
}
.row{
    margin-left: 20px;
    color:white;

}